<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  	<title>Noteefy</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<style>		
	body {
  		background-color: teal;
		}
	</style>

</head>

<body>
<div style = "margin-top: 50px;" class = "ui container">

{% block main %}
		
{% endblock %}		

</div>	
</body>
</html>

