{% extends 'base.html' %}

{% block main %}
	
	
	<a class="ui label">
  	<img class="ui right spaced avatar image" src="{{ pic_info }}">
  	the name is, {{user[0]}}
	</a> 
	<a href = "/logout" id="white"><button class="ui inverted pink button" align="right" style="float:right;">Get Kicked Out <i class="sign-out icon"></i></button><br><br></a>
	
	<a href = "/add_new"><button class="fluid ui button">Scribble Something New</button></a><br>
	
	<form class = "ui form" action = "/search" method="POST">
		<div class="ui icon input">
  			<input type="text" name = "search" placeholder="have a tag in mind?">
		</div>	
		
	</form><br>
	
	{% for todo in todo_list %}
	
	<div class="ui segment" id="div_int" style="max-width: 100%; overflow: hidden;">
		<p class="ui big header" id="white"> {{ todo[2] }} </p><br> 
	  
		<!-- Updated pre tag for word wrap -->
		<pre style="max-width: 100%; overflow-x: auto; white-space: normal; word-wrap: break-word;">
		  <p id="white">{{ todo[5] }} </p>
		</pre><br>
	  
		<p id="white">
		  {% for tag in todo[4] %}
			<a href="/search_tags/{{ tag }}" id="white">#{{ tag }}</a><br>
		  {% endfor %}
		</p>
	  
		<span class="ui teal label">
		  <i class="calendar check outline icon"></i>{{ todo[3] }}
		</span>
		
		<a class="ui inverted green button" href="/update/{{ todo[0] }}">
		  <center><i class="edit icon"></i></center>
		</a>
	  
		<a class="ui inverted red button" href="/delete/{{ todo[0] }}">
		  <center><i class="trash icon"></i></center>
		</a>
	  </div>
	  
	  
	
	{% endfor %}
	
{% endblock %}
