{% extends 'base.html' %}
{% block main %}
	
	
	<a class="ui label">
  	<img class="ui right spaced avatar image" src="{{ pic_info }}">
  	the name is, {{user[0]}}
	</a> 
	
	<a href = "/logout" id="white"><button class="ui inverted pink button" style="float:right;">Get Kicked Out <i class="sign-out icon"></i></button></a>
	<a href = "/profile" id="white"><button class="ui inverted purple button" style="float:right;">
  		Get Back Home 
	</button></a>
	<br><br>
	
	<a href = "/add_new"><button class="fluid ui button">Scribble Something New</button></a><br>
	
	<form class = "ui form" action = "/search" method="POST">
		<div class="ui icon input">
  			<input type="text" name = "search" placeholder="have a tag in mind?">
		</div>	
		
	</form><br>
	
	{% for todo in tag_list %}
	<div class = "ui segment" id="div_int">
		<p class = "ui big header" id="white"> {{ todo[0] }}</p><br> 
		<pre><p id="white">{{ todo[3] }} </p></pre><br>
		<p id="white">{% for tag in todo[2] %}
		<a href = "/search_tags/{{ tag }}" id="white">#{{ tag }}</a><br>
		{% endfor %}</p>
		
		
			<span class = "ui teal label" ><i class="calendar check outline icon"></i>{{ todo[1] }}</span>
					<a class = "ui inverted green button" href = "/update/{{ todo[0] }}"><center><i class="edit icon"></i></center></a>
		
		

		<a class = "ui inverted red button" href = "/delete/{{ todo[0] }}"><center><i class="trash icon"></i></center></a>
	</div>
	{% endfor %}
	
{% endblock %}
