{% extends 'base.html' %}

{% block main %}

	<form class = "ui form" action = "/update_old/{{ row[0] }}" method = "POST"">
		<div class="ui form">
			<div class="field">
    				<label id = "white">Note Title</label>
    				<textarea type = "text" name = "title" placeholder = "Enter Note Title" rows="1" cols="1">{{ row[1] }}</textarea>	    		
  			</div>
  		
			<div class="field">
    				<label id = "white">Description</label>
    				<textarea type = "text" name = "description" placeholder = "Enter Something..." rows="10" cols="10">{{ row[4] }}</textarea>	    		
  			</div>
  		
  			<div class="field">
    				<label id = "white">Enter Tags</label>
    				<textarea type = "text" name = "tags" placeholder = "Enter Tags Seperated by Comma (Ex: Tag1,Tag2)" rows="1" cols="1">{{ ",".join(row[3]) }}</textarea>	    		
  			</div>
  	</form>

  			<a href = "/update_old/{{ row[0] }}">
			<button class="ui inverted green button">
 				Update
			</button></add>
			<a href = "/profile">
			<button class="ui inverted red button">
  				Discard
			</button></a>
			<button class="ui inverted yellow button">
  				<a href = "/profile"><i class="home icon"></i></a>
			</button></a>
		</div>

{% endblock %}
